.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mng-wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
}

#mng-member-title {
  margin-top: 40px;
  font-family: "Jua", sans-serif;
  color: #012758;
  font-size: 40px;
}
