#form-wrapper {
  margin: 100px;
}

#form-layout {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  background-color: #fff;
}

#form-p {
  text-align: left;
  font-size: 23px;
  font-weight: bold;
}
