#main-bg {
  background-image: url(./images/index_bg.png);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1024px;
}

#main-header {
  flex-grow: 1;
}

#form-box {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  flex-grow: 0;
}

#form-box-header {
  text-align: center;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Caveat", cursive;
}

#main-footer {
  flex-grow: 1;
}
