.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

#help-card-title {
  margin-top: 30px;
  text-align: left;
  font-family: "Jua", sans-serif;
  font-size: 28px;
}

#footer-banner.section {
  padding: 40px 0px;
  margin: 30px 0px;
  background-color: #e4e7ed;
  background-image: url("./images/footer_banner.png");
  background-position: center;
  background-repeat: no-repeat;
}

.footer-banner-content {
  padding-left: 40px;
  text-align: left;
}

.footer-banner-content h2 {
  color: aliceblue;
}

.footer-banner-content p {
  text-transform: uppercase;
  color: rgb(128, 128, 128);
  font-size: 24px;
}

.footer-banner-content .cta-btn {
  margin-top: 15px;
}
